USE [HomeTicaret]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 24.10.2019 23:47:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Baskets]    Script Date: 24.10.2019 23:47:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Baskets](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[CreateUserID] [int] NOT NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateUserID] [int] NULL,
 CONSTRAINT [PK_dbo.Baskets] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Categories]    Script Date: 24.10.2019 23:47:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ParentID] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[CreateUserID] [int] NOT NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateUserID] [int] NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderPayments]    Script Date: 24.10.2019 23:47:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderPayments](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[_OrderType] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Bank] [nvarchar](max) NULL,
	[CreateDate] [datetime] NOT NULL,
	[CreateUserID] [int] NOT NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateUserID] [int] NULL,
 CONSTRAINT [PK_dbo.OrderPayments] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderProducts]    Script Date: 24.10.2019 23:47:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderProducts](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[CreateUserID] [int] NOT NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateUserID] [int] NULL,
 CONSTRAINT [PK_dbo.OrderProducts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Orders]    Script Date: 24.10.2019 23:47:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[UserAddressID] [int] NOT NULL,
	[StatusId] [int] NOT NULL,
	[TotalProductPrice] [decimal](18, 2) NOT NULL,
	[TotalTaxPrice] [decimal](18, 2) NOT NULL,
	[TotalDiscount] [decimal](18, 2) NOT NULL,
	[TotalPrice] [decimal](18, 2) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[CreateUserID] [int] NOT NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateUserID] [int] NULL,
 CONSTRAINT [PK_dbo.Orders] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 24.10.2019 23:47:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[CategoryID] [int] NOT NULL,
	[Brand] [nvarchar](max) NULL,
	[Model] [nvarchar](max) NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Tax] [decimal](18, 2) NOT NULL,
	[Discount] [decimal](18, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[CreateUserID] [int] NOT NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateUserID] [int] NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Status]    Script Date: 24.10.2019 23:47:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[CreateDate] [datetime] NOT NULL,
	[CreateUserID] [int] NOT NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateUserID] [int] NULL,
 CONSTRAINT [PK_dbo.Status] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserAddresses]    Script Date: 24.10.2019 23:47:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAddresses](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Title] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[CreateUserID] [int] NOT NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateUserID] [int] NULL,
 CONSTRAINT [PK_dbo.UserAddresses] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 24.10.2019 23:47:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Telephone] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[TCKN] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[IsAdmin] [bit] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[CreateUserID] [int] NOT NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateUserID] [int] NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

GO
INSERT [dbo].[Categories] ([ID], [ParentID], [Name], [IsActive], [CreateDate], [CreateUserID], [UpdateDate], [UpdateUserID]) VALUES (1, 0, N'Bilgisayar', 1, CAST(N'2019-09-17 00:00:00.000' AS DateTime), 1, NULL, NULL)
GO
INSERT [dbo].[Categories] ([ID], [ParentID], [Name], [IsActive], [CreateDate], [CreateUserID], [UpdateDate], [UpdateUserID]) VALUES (2, 0, N'Notebook', 1, CAST(N'2019-09-17 00:00:00.000' AS DateTime), 0, NULL, NULL)
GO
INSERT [dbo].[Categories] ([ID], [ParentID], [Name], [IsActive], [CreateDate], [CreateUserID], [UpdateDate], [UpdateUserID]) VALUES (3, 0, N'Cep Telefonu', 1, CAST(N'2019-09-17 00:00:00.000' AS DateTime), 1, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderProducts] ON 

GO
INSERT [dbo].[OrderProducts] ([ID], [OrderID], [ProductID], [Quantity], [CreateDate], [CreateUserID], [UpdateDate], [UpdateUserID]) VALUES (1, 1, 1, 1, CAST(N'2019-09-23 17:02:24.947' AS DateTime), 2, NULL, NULL)
GO
INSERT [dbo].[OrderProducts] ([ID], [OrderID], [ProductID], [Quantity], [CreateDate], [CreateUserID], [UpdateDate], [UpdateUserID]) VALUES (2, 1, 1, 1, CAST(N'2019-09-23 17:02:24.947' AS DateTime), 2, NULL, NULL)
GO
INSERT [dbo].[OrderProducts] ([ID], [OrderID], [ProductID], [Quantity], [CreateDate], [CreateUserID], [UpdateDate], [UpdateUserID]) VALUES (3, 2, 1, 1, CAST(N'2019-09-23 17:38:49.137' AS DateTime), 2, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[OrderProducts] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

GO
INSERT [dbo].[Orders] ([ID], [UserID], [UserAddressID], [StatusId], [TotalProductPrice], [TotalTaxPrice], [TotalDiscount], [TotalPrice], [CreateDate], [CreateUserID], [UpdateDate], [UpdateUserID]) VALUES (1, 2, 1, 3, CAST(2300.00 AS Decimal(18, 2)), CAST(100.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(2400.00 AS Decimal(18, 2)), CAST(N'2019-09-23 17:02:24.000' AS DateTime), 2, NULL, NULL)
GO
INSERT [dbo].[Orders] ([ID], [UserID], [UserAddressID], [StatusId], [TotalProductPrice], [TotalTaxPrice], [TotalDiscount], [TotalPrice], [CreateDate], [CreateUserID], [UpdateDate], [UpdateUserID]) VALUES (2, 2, 1, 7, CAST(2300.00 AS Decimal(18, 2)), CAST(100.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(2400.00 AS Decimal(18, 2)), CAST(N'2019-09-23 17:38:49.137' AS DateTime), 2, NULL, NULL)
GO
INSERT [dbo].[Orders] ([ID], [UserID], [UserAddressID], [StatusId], [TotalProductPrice], [TotalTaxPrice], [TotalDiscount], [TotalPrice], [CreateDate], [CreateUserID], [UpdateDate], [UpdateUserID]) VALUES (3, 2, 1, 2, CAST(12595.00 AS Decimal(18, 2)), CAST(60.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(12655.00 AS Decimal(18, 2)), CAST(N'2019-09-23 18:04:03.653' AS DateTime), 2, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

GO
INSERT [dbo].[Products] ([ID], [Name], [CategoryID], [Brand], [Model], [ImageUrl], [Description], [Price], [Tax], [Discount], [Stock], [IsActive], [CreateDate], [CreateUserID], [UpdateDate], [UpdateUserID]) VALUES (1, N'mı5', 3, N'Xiami', N'mi5', N'https://c.76.my/Malaysia/original-xiaomi-mi5-32gb-64gb-3gb-ram-mi-5-pro-128gb-rom-4gb-ram-tradeshoppe-1704-06-tradeshoppe@2.jpg', N'telfon', CAST(1150.00 AS Decimal(18, 2)), CAST(50.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), 5, 1, CAST(N'2019-09-17 00:00:00.000' AS DateTime), 1, NULL, NULL)
GO
INSERT [dbo].[Products] ([ID], [Name], [CategoryID], [Brand], [Model], [ImageUrl], [Description], [Price], [Tax], [Discount], [Stock], [IsActive], [CreateDate], [CreateUserID], [UpdateDate], [UpdateUserID]) VALUES (2, N'Monster MS-2215', 2, N'Monster', N'MS-2215', N'https://cdn.akakce.com/monster/monster-abra-a5-v13-2-1-i7-8750h-16-gb-1-tb-256-gb-ssd-gtx-1050-15-6-full-hd-z.jpg', N'Canavar Notebook', CAST(11250.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), 5, 1, CAST(N'2019-09-20 00:00:00.000' AS DateTime), 1, NULL, NULL)
GO
INSERT [dbo].[Products] ([ID], [Name], [CategoryID], [Brand], [Model], [ImageUrl], [Description], [Price], [Tax], [Discount], [Stock], [IsActive], [CreateDate], [CreateUserID], [UpdateDate], [UpdateUserID]) VALUES (3, N'Macro Mause', 7, N'Logitecg', N'G300S', N'https://c.76.my/Malaysia/logitech-g300s-optical-gaming-mouse-kjntm-1703-28-KJNTM@4.jpg', N'9 Farklı Tuş', CAST(195.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), 20, 1, CAST(N'2019-09-20 00:00:00.000' AS DateTime), 1, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Status] ON 

GO
INSERT [dbo].[Status] ([ID], [Name], [CreateDate], [CreateUserID], [UpdateDate], [UpdateUserID]) VALUES (2, N'Ödeme Bekleniyor', CAST(N'2019-09-23 00:00:00.000' AS DateTime), 1, NULL, NULL)
GO
INSERT [dbo].[Status] ([ID], [Name], [CreateDate], [CreateUserID], [UpdateDate], [UpdateUserID]) VALUES (3, N'Ürünler Hazırlanıyor', CAST(N'2019-09-23 00:00:00.000' AS DateTime), 1, NULL, NULL)
GO
INSERT [dbo].[Status] ([ID], [Name], [CreateDate], [CreateUserID], [UpdateDate], [UpdateUserID]) VALUES (4, N'Kargoda', CAST(N'2019-09-23 00:00:00.000' AS DateTime), 1, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Status] OFF
GO
SET IDENTITY_INSERT [dbo].[UserAddresses] ON 

GO
INSERT [dbo].[UserAddresses] ([ID], [UserID], [Title], [City], [Address], [IsActive], [CreateDate], [CreateUserID], [UpdateDate], [UpdateUserID]) VALUES (1, 2, N'Gop Ev', N'İstanbul', N'GOP İST', 1, CAST(N'2019-09-23 17:02:21.990' AS DateTime), 2, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[UserAddresses] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

GO
INSERT [dbo].[Users] ([ID], [Name], [LastName], [Email], [Telephone], [Password], [TCKN], [IsActive], [IsAdmin], [CreateDate], [CreateUserID], [UpdateDate], [UpdateUserID]) VALUES (1, N'Furkan', N'ARAPOĞLU', N'furkanarapoglu@gmail.com', N'1', N'123456', N'1', 1, 1, CAST(N'2019-09-17 00:00:00.000' AS DateTime), 1, CAST(N'2019-09-17 00:00:00.000' AS DateTime), 1)
GO
INSERT [dbo].[Users] ([ID], [Name], [LastName], [Email], [Telephone], [Password], [TCKN], [IsActive], [IsAdmin], [CreateDate], [CreateUserID], [UpdateDate], [UpdateUserID]) VALUES (2, N'Emre Can', N'ZORBACI', N'emrezorbaci0728@gmail.com', N'1', N'123456', N'1', 1, 0, CAST(N'2019-09-17 00:00:00.000' AS DateTime), 1, NULL, NULL)
GO
INSERT [dbo].[Users] ([ID], [Name], [LastName], [Email], [Telephone], [Password], [TCKN], [IsActive], [IsAdmin], [CreateDate], [CreateUserID], [UpdateDate], [UpdateUserID]) VALUES (4, N'Admin', N'Admin', N'admin', N'12345', N'password', N'12345', 1, 1, CAST(N'2019-09-23 19:25:12.000' AS DateTime), 1, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Baskets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Baskets_dbo.Products_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID])
GO
ALTER TABLE [dbo].[Baskets] CHECK CONSTRAINT [FK_dbo.Baskets_dbo.Products_ProductID]
GO
ALTER TABLE [dbo].[OrderPayments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderPayments_dbo.Orders_OrderID] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([ID])
GO
ALTER TABLE [dbo].[OrderPayments] CHECK CONSTRAINT [FK_dbo.OrderPayments_dbo.Orders_OrderID]
GO
ALTER TABLE [dbo].[OrderProducts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderProducts_dbo.Orders_OrderID] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([ID])
GO
ALTER TABLE [dbo].[OrderProducts] CHECK CONSTRAINT [FK_dbo.OrderProducts_dbo.Orders_OrderID]
GO
ALTER TABLE [dbo].[OrderProducts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderProducts_dbo.Products_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID])
GO
ALTER TABLE [dbo].[OrderProducts] CHECK CONSTRAINT [FK_dbo.OrderProducts_dbo.Products_ProductID]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.Status_StatusId] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([ID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.Status_StatusId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.UserAddresses_UserAddressID] FOREIGN KEY([UserAddressID])
REFERENCES [dbo].[UserAddresses] ([ID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.UserAddresses_UserAddressID]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.Users_UserID]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Categories_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([ID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Categories_CategoryID]
GO
ALTER TABLE [dbo].[UserAddresses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserAddresses_dbo.Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[UserAddresses] CHECK CONSTRAINT [FK_dbo.UserAddresses_dbo.Users_UserID]
GO
